<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hồ sơ</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/stylesheets/profile.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="https://ap.poly.edu.vn/images/logo.png" alt="Logo" style="height: 70px;" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span><i class="fa-solid fa-bars"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/categories">Thể loại</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/products">Sản phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/users">Người dùng</a>
                            </li>
                        </ul>
                        <div class="dropdown">
                            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="me-2 d-none d-lg-inline text-gray-600 small">
                                    <%= userInfor.fullname %>
                                </span>
                                <img src="<%= userInfor.avatar %>" alt="">
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                                <li><a class="dropdown-item active" href="/profile/<%= userInfor._id %>">Hồ sơ</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="row profile">
            <img src="<%= userInfor.avatar %>" alt="" class="avt">
            <div class="info">
                <h4 class="text-primary">
                    <%= userInfor.fullname %>
                </h4>
                <h5 class="text-warning">
                    <%= userInfor.role %>
                </h5>
            </div>
            <div class="mt-4">
                <button class="btn btn-outline-success" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Chỉnh sửa hồ sơ</button>
                <form action="/profile/<%= userInfor._id %>?_method=PUT" method="POST">
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <button class="btn" type="button">
                                            <img src="<%= userInfor.avatar %>" alt="Add Avatar">
                                        </button>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingText" placeholder="Username"
                                            name="username" value="<%= userInfor.username %>">
                                        <label for="floatingText">Username</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingText"
                                            placeholder="Full Name" name="fullname" value="<%= userInfor.fullname %>">
                                        <label for="floatingText">Fullname</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput"
                                            placeholder="name@example.com" name="email" value="<%= userInfor.email %>">
                                        <label for="floatingInput">Email address</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="password" class="form-control" id="floatingPassword"
                                            placeholder="Password" name="passwd">
                                        <label for="floatingPassword">Password</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn text-white btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <p class="text-danger fst-italic mt-3">*Sau khi cập nhật hãy đăng xuất để load lại dữ liệu.</p>
                <% if(msg) {%>
                    <p class="alert alert-danger">
                        Cập nhật thất bại: <%=msg %>
                    </p>
                    <% } %>
                        <% if(msg) {%>
                            <p class="alert alert-danger">
                                Cập nhật thất bại: <%=msg %>
                            </p>
                            <% } %>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs') %>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>