<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/stylesheets/products.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('../layouts/navbarProduct.ejs') %>
        </div>

        <div class="container">
            <form action="/products/search/:cateId" method="GET">
                <div class="input-group mt-4">
                    <select class="form-select" aria-label="Pick Category" name="cateId">
                        <option selected>Tìm kiếm theo loại sản phẩm</option>
                        <% categories.forEach(element=> { %>
                            <option value="<%= element._id %>">
                                <%= element.name %>
                            </option>
                            <% }) %>
                    </select>
                    <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
                </div>
            </form>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <a href="/products/add" class="btn btn-outline-secondary">+ Thêm sản phẩm</a>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span><i class="bi bi-table me-2"></i></span>
                        Products
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table">
                                <thead>
                                    <tr>
                                        <th>Tên sản phẩm</th>
                                        <th>Hình ảnh</th>
                                        <th>Giá tiền</th>
                                        <th>Thể loại</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(element=> { %>
                                        <tr class="align-middle">
                                            <td>
                                                <%= element.name %>
                                            </td>
                                            <td>
                                                <img src="<%= element.image %>" alt="">
                                            </td>
                                            <td>
                                                <%= element.price %>
                                            </td>
                                            <td>
                                                <%= element.cateId.name %>
                                            </td>
                                            <td>
                                                <a href="/products/view/<%= element._id %>"
                                                    class="btn btn-primary">View</a>
                                                <a href="/products/edit/<%= element._id %>"
                                                    class="btn btn-warning">Edit</a>
                                            </td>
                                        </tr>
                                        <% }) %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs') %>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
</body>

</html>