<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông tin sản phẩm</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/stylesheets/products.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('../layouts/navbarProduct.ejs') %>
        </div>

        <div class="row">
            <div
                class="container pt-3 pb-2 mb-3 border-bottom d-flex justify-content-between flex-wrap flex-md nowrap align-items-center">
                <h1 class="h3">
                    <%= product.name %>
                </h1>
                <div class="btn-toolbar mb-2 mb-md 0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group mx-4 mt-3">
        <li class="list-group-item">
            <img src="<%= product.image %>" alt="" style="height: 100px;">
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"> <b>Tên sản phẩm:</b></div>
                <div class="col">
                    <%= product.name %>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"> <b>Giá sản phẩm:</b></div>
                <div class="col">
                    <%= product.price %>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"> <b>Loại sản phẩm:</b></div>
                <div class="col">
                    <%= product.cateId.name %>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"> <b>Mô tả:</b></div>
                <div class="col">
                    <%= product.desc %>
                </div>
            </div>
        </li>
    </ul>

    <%- include('../layouts/footer.ejs') %>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
</body>

</html>